@charset "utf-8";

// $color
$color-text: #31353B;

$color-title: #31353B;

$color-attention: #FF9900;

$color-btn: #F85A47;

$color-line: #A3A3A3;

$color-bcg: #DBFFFF;

@mixin mix-inner {
    width: (800/1440*100%);
    margin-right: auto;
    margin-left: auto;
}

@mixin mix-catch {
    color: $color-attention;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

@mixin mix-title($mb: 40px, $mt: 0) {
    margin-top: $mt;
    margin-bottom: $mb;

    font-size: 48px;
    line-height: (58/48);
}

@mixin mix-flex($ai: center, $jc: space-between) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

body {
    color: $color-text;
    font-size: 15px;
    line-height: (26/15);
    letter-spacing: (20/1000)+em;

    font-family: Helvetica, Arial, sans-serif;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

// header
.header {

    padding: 50px 0 80px;

    &__inner {
        @include mix-inner();

        @include mix-flex();
    }

    &__title {
        font-size: 24px;
        font-weight: bold;
        color: $color-title;
    }
}

// nav

.nav {
    &__list {
        display: flex;
    }

    &__item {
        padding-left: 30px;

        font-size: 15px;
        font-weight: bold;
    }

    &__item:first-child {
        color: $color-attention;
    }
}

// people

.people {
    padding-bottom: 120px;

    &__inner {
        @include mix-inner();
        @include mix-flex();
    }
}

// unit

.unit {
    width: (440/1000*100%);

    &__catch {
        @include mix-catch();
    }

    &__title {
        @include mix-title();
    }

    &__text {
        margin-bottom: 60px;
    }
}

// btn
.btn {
    display: block;

    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: $color-btn;
    max-width: 200px;
    padding: 20px 33px;

    border-radius: 5%;
}

.btn--attention {
    background-color: $color-attention;
    min-width: 100%;
}

// mainImg
.mainImg {
    width: 50%;
}

// globe

.globe {
    padding-bottom: 120px;

    &__inner {
        @include mix-inner();
    }

    &__catch {
        @include mix-catch();
    }

    &__title {
        @include mix-title();
    }

    &__item {
        @include mix-flex(flex-start);
    }
}

// card

.card {
    &__item {
        padding: 45px 40px;
        border: 1px solid $color-line;
        border-radius: 5px;

        width: 47%;
    }

    &__text {
        margin-bottom: 80px;
    }

    &__list {
        @include mix-flex(center, flex-start);
    }
}

// person

.person {
    &__content {
        padding-left: 20px;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: bold;
    }
}

.people--reverse {
    @include mix-flex();
    flex-direction: row-reverse;
}

//footer
.footer {
    padding: 100px 0;
    background-color: $color-bcg;
    text-align: right;

    &__inner {
        @include mix-inner();
    }

    &__list .nav__list {
        justify-content: right;
        margin-bottom: 40px;
    }

    &__small {
        font-size: 12px;
        font-weight: bold;
    }
}

// deals
.deals {
    margin-bottom: 120px;

    &__inner {
        @include mix-inner();
    }

    &__title {
        @include mix-title();
    }

    &__text {
        margin-bottom: 60px;
    }

    &__list {
        @include mix-flex(flex-start);
    }
}

// post
.post {
    &__item {
        width: (300/1000*100%);
    }

    &__img {
        margin-bottom: 30px;
    }
}